
// MEDIASqERIS
/*MQ----------*/

@use "../genereles/variables" as*;

// comando para usar un parshal dentro de otros (as*)


// MOBILE
/* MOBILE---------- */

@media only screen and (max-width: 480px) {

    body{
        header{
            .logo{
                width: 50px;
            }
        }
        // TITULOINDEX
        /* TITULO INDEX------ */

        main{
            .contenedorIndex{
                height: 500px;

                .tituloAduana{
                    font-size: 4.0rem;
                    margin-left: 40px;
                    padding-top: 170px;
                }
                .tituloHouse{
                    font-size: 3.5rem;
                    margin-left: 150px;
                }   
            }
            .sectionIndex{
                
                .texto1{
                    line-height: 1.0;
                }
                div{
                    .imgflex{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 125px;
                        }
                        .foto1index{
                            display: none;
                        }
                        .foto2index{
                            display: none;
                        }
                    }
                    .contenedor{
                        .ultimg{
                            width: 90%;
                        }
                    }
                    .textomobile{
                        display: block;
                    }
                }

            }

            // Sucursales
            /* SUCURSALES*/
            .sucurMain{
                .titulosMain{
                    h1{
                        font-size: 2.0rem;
                    }
                    h2{
                        font-size: 1.5rem ;
                    }  
                }
                    /* ---------- BLOQUE ---------- */

                    .bloque {
                        width: 100%;
                        max-width: 600px;
                        padding: 20px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                    
                    
                        .carousel {
                            width: 100%;
                            height: 300px; 
                            overflow: hidden;
                            border-radius: 20px;

                            .carousel-inner {
                                width: 100%;
                                height: 100%;
                            }

                            .carousel-item {
                            width: 100%;
                            height: 100%;

                                img.ftocarrusel {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;  
                                    object-position: center; 
                                    border-radius: 20px;
                                }
                            }
                        }

                        .texto {
                            width: 100%;
                            text-align: center;

                            h3 {
                            font-size: 1.8rem;
                            margin-bottom: 10px;
                            }

                            p {
                            font-size: 1.2rem;
                            line-height: 1.4;
                            }
                        }
                    }
                }
            }

     }

}


// TABLETS
/*tabletsss*/

@media only screen and (min-width:481px) and (max-width:978px) {

    body{
        header{
            .logo{
                width: 60px;
            }
        }

        main{
            .contenedorIndex{
                height: 600px;
                .tituloAduana{
                    font-size: 5.5rem;
                    margin-left: 150px;
                    padding-top: 200px;
                }
                .tituloHouse{
                    font-size: 4.5rem;
                    margin-left: 390px;
                }
            }
            .sectionIndex{
                .texto1{
                    line-height: 1.0;
                }
                div{
                    .imgflex{
                        display:flex;
                        justify-content: center;
                        img{
                            width: 180px;
                        }
                        .foto1index{
                            display: none;
                        }
                    }
                    .contenedor{
                        .ultimg{
                            width: 70%;
                        }   
                    }
                    .textomobile{
                        display: block;
                    }
                }
            }
        
    

            // Sucursales
                /* SUCURSALES*/

            .sucurMain{
                .titulosMain{
                    h1{
                        font-size: 3.0rem;
                    }
                    h2{
                        font-size: 2.5rem;
                    }
                }
            }

    

            /* ---------- BLOQUE ---------- */
            .bloque {
                width: 90%;
                max-width: 900px;
                margin: 0 auto;
                padding: 30px;
                border-radius: 15px;
                display: flex;
                flex-direction: row; /* pasa de columna a fila */
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                background: $gris;
                box-shadow: 0 4px 12px rgba(0,0,0,0.1);
                transition: all 0.3s ease;

                &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 16px rgba(0,0,0,0.15);
                }

                 /* Carousel */

                .carousel {
                    flex: 1;
                    height: 320px;
                    border-radius: 20px;
                    overflow: hidden;

                    .carousel-inner {
                        width: 100%;
                        height: 100%;
                    }

                    .carousel-item {
                        width: 100%;
                        height: 100%;

                        img.ftocarrusel {
                        width: 100%;
                        height: 100%;
                        object-fit: cover; 
                        object-position: center;
                        border-radius: 20px;
                        }
                    }
                }   

                /* Texto */
                .texto {
                    flex: 1;
                    text-align: left;
                    padding: 10px 20px;

                    h3 {
                        font-size: 2rem;
                        margin-bottom: 10px;
                        color: $verdemast;
                     }

                    p {
                        font-size: 1.2rem;
                        line-height: 1.5;
                        color: $negro;
                    }
                }
            }
        }
    }
} 