
// Variables


// PALETA DE COLORES

$negro: #000000 ;
$gris: #222222 ;
$verdeclaro: #1DCD9F ;
$verdemast: #169976;
$blanco: #dcdcdc;
$naranja: #f2b632;
$grisindex: #252525; 
$gris: #323232;
$grisclaro: #7b7a7a;


// TIPO TIPOGRAFICO
// USADAS PARA TITULOS...

$font: "Momo Signature", cursive;




